<div>
    <div class="row email_integrations-container">
        <div class="col-12">
            <div class="row pt-3 pb-3">
                <div class="col-md-6  ">
                    <h6 class="mt-2"><b>Email Intergations</b></h6>
                </div>
                <div class="col-md-6 ">
                    <div class="search_form_integrations">
                        <form action="#">
                            <span class="form-control-feedback_integrations"><img
                                    src="/images/search.svg" id="search_img" alt="search"></span>
                            <input type="text" name="search" class="form-control"
                                placeholder="Search Integrations" id="integration">
    
                        </form>
                    </div>
                </div>
            </div>
            <div class="row mt-3 user_email_integrations_list">
                <div class="col-xl-4 mt-3 add_email_integrations_container">
                    <div class="add_integrations">
                        <div class="add_integration_border">
                            <a href="#" style="text-decoration:none;"><img
                                    src="/images/Add_new_intigration.svg" width="20%">
                                <div class="add_img_content">
                                    <span class="add_integrations_content">ADD NEW
                                        <br>INTEGRATION</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <% for(var i=0; i < email.length; i++){ %>
                    <div class="col-xl-4  mt-3 " >
                        <div class="email-integrations" id="<%= email[i]._id %>" vendor="<%= email[i].vendor %>">
                            <img src="<%= email[i].image %>" alt="group_87" height="50"  >
                            <div class="mailchimp_contant"  >
                                <span class="maichimp_suername_title"  ><%= email[i].vendor %>: </span><span class="mailchimp_username"  ><%= email[i].nickname %></span><br>
                                <span class="integrated_date"  >Integrated: <%= new Date(email[i].createdAt).toDateString() %></span><br>
                                <span class="integrated_status"  >Status: <img src="<%= email[i].status === true ?  '/images/Ellipse 23.svg': '/images/red.png'%>" height="9" width="9"> <%= email[i].status === true ? 'Connected' : 'Disconnected' %></span>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="row email_integrations_list">
        <div class="col-12">
            <div class="row pt-3 pb-3">
                <div class="col-12">
                    <h6>
                        <button class="btn  btn-sm mr-2 back-email-intergations">
                            <i class="fa fa-angle-left"></i>
                        </button>
                        <b>All Emails Intergations</b>
                    </h6>
                </div>
                <div class="col-md-4  mt-3 ">
                    <div class="integrations_mail_chimp" data-toggle="modal" data-target="#apiKeyModal">
                        <img src="/images/Mailchimp_1.svg" alt="group_87">
                        <div class="mailchimp_contant">
                            <span class="maichimp_suername_title">Mailchimp</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

